input{
    width: 50%;
    height: 50px;
    border-radius: 3%;
    
}
.btn{
    color: white;
    background: red;
    width: 40px;
    height: 55px;
    position: absolute;
    left:72%;
    top:10.5%;
}

